// Variables
$site-width: 1280px;
$color-primary: #f15a24;
$color-secondary: #002639;
$color-dark: #181818;
$color-light: #efefef;
$color-medium: #dddddd;
$bg-image: url("../img/showcase.jpg");
$bio-image: url("../img/about.jpg");
$menu-speed: 0.75s;
